<%- include('../partials/header.ejs'); %>
<%- include('../partials/navbar.ejs'); %>
<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a class="btn btn-success" href="/admin/categorys/new">Criar categorias</a> 
    
    <hr>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Slug</th>
            <th>ações</th>
        </tr>
        <% category.forEach(category =>{ %>
            <tr>    
                <th><%= category.id %></th>
                <th><%= category.title %></th>
                <th><%= category.slug %></th>
                <th>
                    <a class="btn btn-warning"  href="/category/edit/<%= category.id %>">Editar</a>
                    <form method="POST" action="/admin/category/delete" style="display:inline" onsubmit="deletar(event, this)">
                        <input type="hidden" name="id" value="<%= category.id %>">
                        <button class="btn btn-danger">Excluir</button>
                    </form>  
                </th>
            </tr>
        <% }) %>
    </table>
</div>
    <script>
        function deletar(event, form){
            event.preventDefault();
            var descison = confirm("Tem certeza que quer excluir?");
            if(descison){
                form.submit();
            }
        }
    </script>

<%- include ('../partials/footer.ejs'); %>